.cart-widget {
    align-items: flex-end;
    color: white;
    cursor: pointer;
}

.cart-widget svg{
    font-size: 28px
}

.cart-cant {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}


