.titulo{
    color: rgb(235, 129, 90);
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.text-category{
    font-style: oblique;
    font-size: 17px;
    color: rgb(91, 89, 89);
}

.text-price{
    color: red;
}

