footer{
    width: 100%;
    position: absolute;
   /* display: flex;
  justify-content: flex-end;*/
  }
  
  .footer {
    height: 90px;
    background-color: #FF7F50;
    /*display: flex; 
     justify-content: center;*/
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 50px;
    padding-right: 50px;
    
  }
  
  .footer-nav {
    padding-left: 30px;
    padding-top: 10px;
  }

  .centrado{
    display: flex;
    justify-content: center;
  }