/* #root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body , html {
  /*background-image: url("./assets/fondo1.jpg");*/
  background: linear-gradient(#FFE4E1, #FFFAF0);
  height: 100%;

}

#root{
  min-height: 100%;
  position: relative;
  margin: 0
}


a {
 color: white !important;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-decoration: none !important;
}

.item-prod {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-auto-rows: 450px;
  gap: 32px;
  padding: 20px 0;
}

/*********** DETAIL *************/

.centradoFlex{
  display: flex;
  justify-content: center;
}

.boxflex {
  display: flex;
  width: 900px;
  height: 450px;
  justify-content: center;
}

.boxflex >img {
 min-width: 40%;
 min-height: 44%;
padding-right: 0.5px;
}

.box {
  background-color: whitesmoke;
  color: rgb(83, 75, 75);
  width: 45%;
  padding: 50px;
  font-size: small;
}


/********************************/

.show {
  color: #e19c55;
  font-size: 16px;
  visibility: visible;
  text-align: center;
  padding-top: 10px;
}


.hidden {
  visibility: hidden;
}


.botonSmall {
  height: 45%;
}

.contador {
  padding: 10% 18% 10% 18%;
  font-size: 14px;
  border-color: rgb(47, 43, 43);
  border-width: 0.5px;
  border-style: solid;
}

/*************** DETALLE DEL CARRITO ******************/

.detailCart {
/*  width: 80%;*/
  margin-top: 1%;
  margin-bottom: 1%;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  border-radius: 2px;
}

.activa, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.activo {
  padding: 0 18px;
  display: block;
  overflow: hidden;
  background-color: #504c4c;
  color: white;

}

.cartEmpty {
  display: flex;
  justify-content: center;
  background-color: #212529;
  color: #fff;
  height: 60px;
  padding: 10px;
  margin: 10px;;
  font-size: 18px;
}

#cajaTotal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #212529;
  color: #fff;
  height: 50px;
  align-items: center;
  padding-left: 10px;
  font-size: 18px;
}

#cajaTotal:hover{
  background-color: #525354;
  color: #fff;
}

#cajaTotal > div {
  width: 50%;
}

.mensaje{
  color: rgb(234, 162, 162);
  font-style: oblique;
  font-size: 13px;
}

.buttonPedido{
  background-color: #FF7F50;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
}

.buttonPedido:hover{
  background-color: whitesmoke;
  color: rgb(47, 43, 43);

}
/**********************/

.buttonAgregar{
  background-color: #FF7F50 !important;
  padding: 10px !important;
  font-size: 15px !important;
  color: whitesmoke !important;
  margin-top: 3px !important;
  width: 45% !important;
  border: #FF7F50 !important;
}

.buttonAgregar:hover{
  background-color: rgb(47, 43, 43) !important;
  color: whitesmoke !important;

}